<a href="https://colab.research.google.com/github/Tharun173/CSE22173-ML-LAB/blob/main/Lab03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [11]:
data=pd.read_excel('/content/ML_lab3.xlsx')
group_data=data.groupby('LABEL').mean()
print(group_data)

                0           1          2            3          4    \
LABEL
3333   35021.971518   30.944450  39.454434  2397.193236  67.341696
3334   38078.659501 -229.109162  64.151173  2651.788417 -39.908549

               5           6          7           8           9    ...  \
LABEL                                                              ...
3333   2574.141938  -16.861991  12.900568    6.350601  -42.267425  ...
3334   2602.989470  510.506887  31.439506  299.883753  114.109798  ...

             186         187        188         189         190        191  \
LABEL
3333   77.963941  119.175760   9.275924  -88.057115    0.830644  42.055855
3334   29.254359  168.075877 -72.153176 -193.608535 -332.733920  29.749377

              192        193         194         195
LABEL
3333     9.733818  91.755459  -53.070227   43.406243
3334  -302.089126 -36.515134 -108.459160 -138.399487

[2 rows x 196 columns]

In [13]:
print(group_data.columns)

Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
       ...
       186, 187, 188, 189, 190, 191, 192, 193, 194, 195],
      dtype='object', length=196)

In [19]:
grouped=data.std(axis=0)
print(grouped)

0        5917.164896
1         306.192224
2         275.838686
3         842.676925
4         136.697585
            ...
192       408.681860
193       267.817979
194       321.787993
195       302.444708
LABEL       0.495640
Length: 197, dtype: float64